nette:
  application:
    mapping:
      Rest: Flame\CMS\RestBundle\*Module\Presenters\*Presenter

services:
  restRouter: Flame\CMS\RestBundle\RestRouter
  routerFactory:
    class: \Flame\Bundles\Router\RouterFactory
    setup:
      - register(@restRouter)